:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .header {
        background-image: url("../../../../public/sky.webp");
        background-size: cover;
        background-position: center;
        display: flex;
        padding-top: 20px;
        justify-content: center;
        align-items: self-start;
        gap: 30px;
        width: 100%;

        mat-form-field {
            width: 60%;
        }

        button[mat-raised-button] {
            height: 56px;
        }
    }

    tr[mat-row] {
        cursor: pointer;

        &:hover {
            background-color: #eeeaea;
        }
    }

    mat-spinner {
        align-self: center;
        top: 50%;
        position: absolute;
    }

    app-custom-paginator {
        margin: 10px 0;
    }
}
